<div class="container-fluid mt-2 py-3" id="export">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
                     <h1 class="text-center main-heading txt py-5" style=" text-shadow: 2px 2px 5px #b3afaf;">Export the CSV-File</h1>
         </div>
         <br>
        <div style="max-width: 480px; margin: 0% 35% 0% 35%">
             <div class="form-check py-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">Authers</label>
             </div>
             <div class="form-check py-2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">Books</label>
             </div>
             <div class="form-check pt-2 pb-4">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">Magazines</label>
             </div>
             <button type="button" class="btn btn-primary  px-3">Export</button>
         </div>
    </div>
</div>
