<div class="container-fluid mt-5 py-3" id="findfile">
    <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                     <h1 class="text-center main-heading txt py-5" style=" text-shadow: 2px 2px 5px #b3afaf;">Find the Book or Magazine by ISBN</h1>
                </div>
                <div class=" text-center " style="max-width: 480px; margin: 0% 35% 0% 35%">
                    <form class="form-inline">
                        <input class="form-control " type="search" placeholder="Type ISBN number of Book or Magazine" aria-label="Search">
                        <br>
                        <button class="btn btn-success rounded-pill py-2 px-3" type="submit"> Search </button>
                    </form>
                </div>
                <br>
                <br>
                <div class="col-md-10 col-12 mx-auto">
                     <h1 class="text-center main-heading txt py-5" style=" text-shadow: 2px 2px 5px #b3afaf;">Find the Book or Magazine by Auther's email</h1>
                </div>
                <div class=" text-center " style="max-width: 480px; margin: 0% 35% 0% 35%">
                    <form class="form-inline">
                        <input class="form-control " type="search" placeholder="Type Auther's email " aria-label="Search">
                        <br>
                        <button class="btn btn-success rounded-pill py-2 px-3" type="submit"> Search </button>
                    </form>
                </div>
    </div>
</div>