<div class="container-fluid mt-5" id="magazines">
           <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                     <h1 class="text-center main-heading txt" style=" text-shadow: 2px 2px 5px #b3afaf;">MAGAZINES <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA0eGsH1eseWJygAzco2uu_3QKXRmoWwm2Ng&usqp=CAU" height="100" width="100" alt=""></h1>
                    <div class ="row">
                             <div class="col-md-4 py-5">
                             <div class="box">
                                 <div class="our-services">
                                     <div class="icon">   
                                        <div class="card bg-light" style="width: 350px;">
                                            <div class="card-body">
                                                <h5 class="card-title" id="title"> <i class="text-danger"> Title:</i> Beautiful cooking</h5>
                                                <h5 id="ISBN"> <i class="text-danger">ISBN:</i> 5454-5587-3210</h5>
                                                <h5 id="auther"> <i class="text-danger">Auther:</i> walter@echocat.org</h5>
                                                <h5 id="publish"> <i class="text-danger">Published at:</i> 23.02.2012</h5>
                                            </div>
                                        </div>
                                     </div>
                                 </div>
                             </div>
                         </div>

                        <div class="col-md-4 py-5">
                             <div class="box">
                                 <div class="our-services">
                                     <div class="icon">   
                                        <div class="card bg-light" style="width: 350px;">
                                            <div class="card-body">
                                                <h5 class="card-title" id="title"> <i class="text-danger"> Title:</i> My familie and me</h5>
                                                <h5 id="ISBN"> <i class="text-danger">ISBN:</i> 4545-8541-2012</h5>
                                                <h5 id="auther"> <i class="text-danger">Auther:</i> mueller@echocat.org</h5>
                                                <h5 id="publish"> <i class="text-danger">Published at:</i> 10.07.2011</h5>
                                            </div>
                                        </div>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="col-md-4 py-5">
                             <div class="box">
                                 <div class="our-services">
                                     <div class="icon">   
                                        <div class="card bg-light" style="width: 350px;">
                                            <div class="card-body">
                                                 <h5 class="card-title" id="title"> <i class="text-danger"> Title:</i> Cooking for gourmets</h5>
                                                <h5 id="ISBN"> <i class="text-danger">ISBN:</i> 2365-5632-7854</h5>
                                                <h5 id="auther"> <i class="text-danger">Auther:</i> lieblich@echocat.org</h5>
                                                <h5 id="publish"> <i class="text-danger">Published at:</i> 01.05.2012</h5>
                                            </div>
                                        </div>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="col-md-4 py-5">
                             <div class="box">
                                 <div class="our-services">
                                     <div class="icon">   
                                        <div class="card bg-light" style="width: 350px;">
                                            <div class="card-body">
                                                 <h5 class="card-title" id="title"> <i class="text-danger"> Title:</i> Gourmet</h5>
                                                <h5 id="ISBN"> <i class="text-danger">ISBN:</i> 2365-8745-7854</h5>
                                                <h5 id="auther"> <i class="text-danger">Auther:</i> ferdinand@echocat.org</h5>
                                                <h5 id="publish"> <i class="text-danger">Published at:</i> 14.06.2010</h5>
                                            </div>
                                        </div>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="col-md-4 py-5">
                             <div class="box">
                                 <div class="our-services">
                                     <div class="icon">   
                                        <div class="card bg-light" style="width: 350px;">
                                            <div class="card-body">
                                                 <h5 class="card-title" id="title"> <i class="text-danger"> Title:</i> Vinum</h5>
                                                <h5 id="ISBN"> <i class="text-danger">ISBN:</i> 1313-4545-8875</h5>
                                                <h5 id="auther"> <i class="text-danger">Auther:</i> gustafsson@echocat.org</h5>
                                                <h5 id="publish"> <i class="text-danger">Published at:</i> 23.02.2012</h5>
                                            </div>
                                        </div>
                                     </div>
                                 </div>
                             </div>
                         </div>

                         <div class="col-md-4 py-5">
                             <div class="box">
                                 <div class="our-services">
                                     <div class="icon">   
                                        <div class="card bg-light" style="width: 350px;">
                                            <div class="card-body">
                                                 <h5 class="card-title" id="title"> <i class="text-danger"> Title:</i> cooking</h5>
                                                <h5 id="ISBN"> <i class="text-danger">ISBN:</i> 5454-5587-3210</h5>
                                                <h5 id="auther"> <i class="text-danger">Auther:</i> walter@echocat.org</h5>
                                                <h5 id="publish"> <i class="text-danger">Published at:</i> 23.02.2012</h5>
                                            </div>
                                        </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>  
                </div>
           </div>
</div>


