<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-style py-3">
                      <div class="container-fluid">
                        <a class="navbar-brand mr-auto logo" href="#"><img src="https://uploads-ssl.webflow.com/60d5a97381523ace9d3c87bb/60eee9be5628ed5700176501_Webp.net-resizeimage(1).png"  alt="" height="50" width="50"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav " style=" margin-left: auto;">
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#books">Books</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#magazines">Magazines</a>
                            </li>
                             <li class="nav-item">
                              <a class="nav-link" href="#findfile">Find File</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#addfile">Add File</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#export">Export</a>
                            </li>
                          </ul>

                        </div>
                      </div>
</nav>
                   